.incorrect {
  color: red;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html {
  scroll-behavior: auto;
  scroll-padding-top: 120px;
}

body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.blur {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(255, 255, 255, 1);
}

#myBtn:hover {
  background-color: #555;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sticky-nav {
  position: sticky;
  z-index: 10;
  top: 0;
  backdrop-filter: saturate(180%) blur(20px);
  transition: background-color 0.1 ease-in-out;
}

.full-width {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;
}

.trns {
  color: transparent;
  background-clip: text;
}

.chapterBox {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
